<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}">
<head>
    <title>Content page</title>
    <script src="content-script.js"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center">Login</h2>
                <form th:action="@{/login}" method="post">
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                    <div th:if="${param.error}" class="text-danger mt-3">
                        Invalid username or password.
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>